/*
Colors used 
Primary Color:         #000080; (Dark Blue Klein)
Primary Color lightne: #0000CD; (Blue Klein)
Secondary Color:       #81D8D0; (Blue Tiffany)
Tertiary Color:        #A9A9A9; (Darkgrey)
Text Color:   

Primary text font:     'Merriweather', serif
Secondary text font:   'Archivo Narrow', sans-serif;
*/
:root {
    --primary-color: #000080;
    --primary-color-lighten: #0000CD;
    --secondary-color: #81D8D0;
    --tertiary-color: darkgrey;
    --shadow: 1px 3px 5px 0px rgba(0,0,0,0.3);
    --weight-bold: 700;
    --body-color: #f8fafa;
    --primary-font: 'Merriweather', serif;
    --secondary-font: 'Archivo Narrow', sans-serif;
}

* { 
    box-sizing: border-box;
}

body {
    background: var(--body-color);
    font-family: var(--primary-font);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.6;
    margin: 1%;
    height: 100vh;
}
h1 {
    font-size: 36px;
    font-weight: var(--weight-bold);
    font-family: var(--secondary-font);

}
h2 {
    font-size: 30px;
    font-weight: var(--weight-bold);
    font-family: var(--secondary-font);
}
h3 {
    font-size: 24px;
    font-weight: var(--weight-bold);
    font-family: var(--secondary-font);
}

a {
    color: var(--primary-color-lighten);
}
a:visited {
    color: var(--secondary-color);
}
a:hover, a:focus {
    text-decoration: none;
    opacity: 0.7;
    transition: 0.1s opacity;
}

.button,
button {
    border: none;
    display: inline-block;
    font-family: inherit;
    background-color: var(--primary-color);
    color: white;
    text-decoration: none;
    padding: 8px;
    border-radius: 3px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.3);
    /* transition: 0.4s opacity; */
}
.button:hover,
.button:focus,
button:hover, 
button:focus {
    cursor: pointer;
    opacity: 0.89;
    box-shadow: var(--shadow);

}

/* NAV */
.page-header {
    display: flex;
    width: 100%;
    padding: 0 10px 0 0;
}
.page-header__item {
    flex: 0 1 200px;
}

.page-header__item:last-child {
    flex-grow: 1;
    text-align: right;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

.navigation__logo {
    left: 20px;
    height: 50px;
}
.navigation-list{
    list-style-type: none;
}
.navigation-list li {
    display: inline-block;
    margin-left:4px; 
}
.navigation-list__item--active {
    text-decoration: none;
    color: var(--primary-color)
}
.dropbtn {
    display: none;
    font-size: 15px;
    padding: 7px 20px;
    margin: 0 30px
}

.dropdown-menu-list {
    display: none;
    border-radius: 3px;
    position: absolute;
    background-color: var(--body-color);
    max-width: 160px;
    box-shadow: var(--shadow);
    margin-top: 12px;
}

.dropdown-menu:hover .dropdown-menu-list {
    display: block;
}

.dropdown-menu-list a {
    float: none;
    font-size: 15px;
    color: var(--primary-color-lighten);
    padding: 12px 26px;
    text-decoration: none;
    display: block;
    text-align: left;
}

/* .hr-break{
    border: lightgrey 0.7px solid;
    margin: 0 -15px 0 -15px;
    width: 100%;
} */

/* Home page content */
.profile {
    max-width: 700px;
    margin: 20px auto;
    box-sizing: border-box;

}
.profile__portrait {
    float: left;
    width: 350px;
    margin: 60px 50px;
    border-radius: 50%;
    box-shadow: var(--shadow);

}
.profile-description{
    padding-top: 60px;
}
.B-Btext{
    background-color: var(--primary-color);
    color: var(--body-color);
}

/* About page content */
.about-container{
    display: grid;
    margin: 60px auto;
}
.about-container__item{
    list-style-type: circle;
    margin: 12px auto;
}
/* Works page content */

.project-list__item { /* Fallback Grid */
    display: inline-block;
    width: 33%;
}
.project-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
}
.project-list__item{
    display: inline-block;
    width: 33%;
    box-shadow: var(--shadow);
}

.project-list__item {
    background-color: lightgray;
    padding: 12px;
    width: auto;
}
.project-list__item:last-child {
    grid-column: 3 / 3;
    grid-row: 1 / 3;
} 
/* Contact page content */
.contact-container{
    margin: 80px 10%;
}
#contact-form{
    margin-top: 50px;
}

#contact-mes{
    width: 300px;   
    height: 200px;
    padding: 10px 4px;
}

/* footer */
footer {
    clear: both;
    text-align: center;
    margin-top: 120px;
}

/* Media Queries */

/* Tablet */
@media all and (max-width: 1020px) {
        .project-list {
        grid-template-columns: 1fr 1fr;
        grid-gap: 10px;
    }
    .project-list__item:last-child {
        grid-column: auto / auto;
        grid-row: auto / auto;
    } 
    .page-header {
      padding-top: 0;
    }
    .profile,
    .contact,
    .about,
    .work {
      margin-top: 25px;
      padding: 0 10px;
    }
  
    .about__table {
      width: 100%;
    }
    .profile{
        display: grid;
        grid-template-rows: 2fr 1fr;
    }
    .profile__portrait{
        margin: 80px auto;
    }
    .profile-description{
        padding-top: 0;
        text-align: center
    }
}

/* Mobile */
@media all and (max-width: 720px) {
    .navigation-list__item {
        display: none;
      }
      .dropbtn {
        display: block;
      }
    .page-header{
        padding-left: -100px;
    }
    .project-list {
        grid-template-columns: 1fr;
        grid-gap: 10px;
    }
    .project-list__item:last-child {
        grid-column: auto / auto;
        grid-row: auto / auto;
    }
    .contact-container{
        margin: 80px 20%;
    }
    #contact-mes{
        width: 70vw;
    }
}