/*
Colors used 
Primary Color:         #000080; (Dark Blue Klein)
Primary Color lightne: #0000CD; (Blue Klein)
Secondary Color:       #81D8D0; (Blue Tiffany)
Tertiary Color:        #A9A9A9; (Darkgrey)
Text Color:   
Primary text font:     'Noto Serif TC', serif
Secondary text font:   'Noto Serif', serif
*/
:root {
    --primary-color: #000080;
    --primary-color-lighten: #0000CD;
    --secondary-color: #81D8D0;
	--tertiary-color: Darkgrey;
	--tertiary-color-lighten: rgb(223, 223, 223);
    --shadow: 1px 3px 5px 2px rgba(0,0,0,0.3);
    --shadow-darken :3px 5px 7px 1px rgba(0,0,0,0.3);
    --weight-bold: 700;
	--body-color: #f8fafa;
	--body-color-darken: #e0e0e0;
    --primary-font: 'Noto Serif TC', serif;
    --secondary-font: 'Noto Serif', serif;
    --text-size: 11pt;
    --h1-size: 2.6em;
    --h2-size: 1.4em;
}
* { 
    box-sizing: border-box;
}

body {
    background: var(--body-color);
    font-family: var(--primary-font);
    font-weight: 400;
    font-size: var(--text-size);
    line-height: 1.6;
}
h1 {
    font-size: var(--h1-size);
    font-weight: var(--weight-bold);
    font-family: var(--secondary-font);
}
h2 {
    font-size: var(--h2-size);
    font-weight: var(--weight-bold);
    font-family: var(--secondary-font);
}
a {
    color: var(--primary-color-lighten);
}
a:hover, a:focus {
    text-decoration: none;
    opacity: 0.7;
    transition: 0.1s opacity;
}
.button,
button {
    border: none;
    display: inline-block;
    font-family: inherit;
    background-color: var(--primary-color);
    color: var(--body-color);
    text-decoration: none;
    padding: 8px;
    border-radius: 3px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.3);
    /* transition: 0.4s opacity; */
}
.button:hover,
.button:focus,
button:hover,
button:focus {
    cursor: pointer;
    opacity: 0.89;
    box-shadow: var(--shadow);
}
.legend{
    font-size: 6pt;
    color: var(--tertiary-color);
}

/* NAV */
.page-header {
    display: flex;
    width: 100%;
	padding: 5px 5px 0 5px ;
	background-color: var(--body-color-darken);
}
.navigation__logo {
    padding-left: 10px;
    height: 60px;
}
.namelogo{
	font-family: var(--primary-font);
	line-height: 13px;
	text-align: center;
	margin-top: 28px;
	margin-left: 20px;	
}
.namelogo-name{
	font-size: 13pt;
	font-weight: var(--weight-bold);
}
.namelogo-caption{
	font-size: 9pt;
	text-align: center;
	letter-spacing: 2px;
	color: VAR(--primary-color);
	text-decoration: underline
}
.page-header__item {
    flex: 0 1 200px;
    list-style-type: none;
    color: var(--primary-color-lighten);
}
.page-header__item:last-child {
    flex-grow: 1;
    text-align: right;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.navigation-list li {
    display: inline-block;
	margin: 0 15px 0 15px;
	
}
.navigation-list__item--active {
    text-decoration: none;
    color: var(--primary-color)
}
.dropbtn {
    display: none;
    font-size: 15px;
    padding: 7px 20px;
    margin: 0 30px;
}
.dropdown-menu-list {
    display: none;
    border-radius: 3px;
    position: absolute;
    background-color: var(--body-color);
    max-width: 160px;
    box-shadow: var(--shadow);
    margin-top: 12px;
}
.dropdown-menu:hover .dropdown-menu-list {
    display: block;
}
.dropdown-menu-list a {
    float: none;
    font-size: 15px;
    color: var(--primary-color-lighten);
    padding: 12px 26px;
    text-decoration: none;
    display: block;
    text-align: left;
}
/* .hr-break{
    border: lightgrey 0.7px solid;
    margin: 0 -15px 0 -15px;
    width: 100%;
} */
/* INDEX page content */
.profile {
    max-width: 900px;
	margin: 20px auto;
	padding: 0 40px;
    box-sizing: border-box;
}
.profile__portrait {
    float: left;
    width: 350px;
    margin: 60px 50px;
    border-radius: 50%;
    box-shadow: var(--shadow-darken);
}
.profile-description{
    padding-top: 60px;
}
.B-Btext{
    background-color: var(--primary-color);
    color: var(--body-color);
}
/* ABOUT page content */
.about-container{
    max-width: 900px;
    display: grid;
	margin: 60px auto;
	padding: 0 40px;

}
.about-container__item{
    list-style-type: circle;
    margin: 12px auto;
}
.title{
margin-top: 35px;
}
.centerBtn{
margin: 0 auto;
}
svg{
	width: 90%;
	margin: 0 5%;
	box-shadow: var(--shadow)
  }
  .SVGlegend{
	padding-left: 6%;
	color: var(--tertiary-color);
	text-decoration: none;
}
/* WORKS page content */
 /* Fallback Grid */
 .project-list__item {
	max-width: 900px;
	padding: 0 40px;
    display: inline-block;
    width: 33%;
}
.project-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 20px;
	padding: 0 40px;
}
.project-list__item {
    display: inline-block;
    width: 33%;
    box-shadow: var(--shadow-darken);
    background-color: var(--tertiary-color-lighten);
    padding: 12px;
    width: auto;
}
.project-list__item:last-child {
    grid-column: 3 / 3;
	grid-row: 1 / 3;
	margin-right: 40px; /* ADD some margin to this page  */
} 

/* CONTACT page content */
.contact-container{
    max-width: 900px;
    margin: 80px 10%;
}
#contact-form{
    margin-top: 50px;
}
#contact-mes{
    width: 300px;   
    height: 200px;
    padding: 10px 4px;
    border: solid var(--tertiary-color-lighten) 0.3px;
}
#contact-tel:hover,
#contact-email:hover,
#contact-mes:hover {
    box-shadow: var(--shadow);
    border: solid var(--tertiary-color-lighten) 0.6px;
}

/* footer */
footer {
    clear: both;
    text-align: center;
	width:100%;
	padding-top: 80px;
	padding-bottom: 20px;
}
/* Media Queries */
/* Tablet */
@media all and (max-width: 1020px) {
	body{
		font-size: 10pt;
	}
        .project-list {
        grid-template-columns: 1fr 1fr;
        grid-gap: 15px;
    }
    .project-list__item:last-child {
        grid-column: auto / auto;
        grid-row: auto / auto;
    }
    .page-header {
      padding-top: 0;
    }
    .profile,
    .contact,
    .about,
    .work {
      margin-top: 25px;
      padding: 0 10px;
    }
    .about__table {
      width: 100%;
    }
    .profile{
        display: grid;
        grid-template-rows: 2fr 1fr;
    }
    .profile__portrait{
        margin: 80px auto;
    }
    .profile-description{
        padding-top: 0;
        text-align: center;
    }
}
/* Mobile */
@media all and (max-width: 720px) {
	body{
		font-size: 7pt;
	}
	.namelogo{
		line-height: 8px;
		margin: auto auto;
		width: 66vw
	}
	.namelogo-name{
		font-size: 9pt;
		line-height: 15px;
	}
	.namelogo-caption {
		font-size: 5pt;
	}
    .profile__portrait{
        width: 70vw;
    }
    .navigation-list__item {
		display: none;
	  }
	  ul {
		padding-inline-start: 0;
		width: 0;
      }
      .dropbtn {
        display: block;
      }
    .page-header{
        padding-left: -100px;
    }
    .project-list {
        grid-template-columns: 1fr;
        grid-gap: 20px;
    }
    .project-list__item:last-child {
        grid-column: auto / auto;
        grid-row: auto / auto;
    }
    .contact-container{
        margin: 80px 20%;
    }
    #contact-mes{
        width: 70vw;
    }
}